    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Importer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css">
        <script src="main.js"></script>
    </head>
    <body>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-sitemap fa-fw"></i> ValueSet - Create
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped" style="border-collapse:separate;border:solid lightgrey 1px;border-radius:4px;-moz-border-radius:6px;">
                    <colgroup>
                        <col class="col-xs-1">
                        <col class="col-xs-7">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td>Server</td>
                        <td>CDC FHIR Test Server</td>
                    </tr>
                    <tr>
                        <td>Software</td>
                        <td>
                            HAPI FHIR Server - 1.3
                        </td>
                    </tr>
                    <tr>
                        <td>FHIR Base</td>
                        <td>
                            <a href="http://10.32.224.233:8080/hapi-fhir-jpaserver-example/baseDstu2">http://10.32.224.233:8080/hapi-fhir-jpaserver-example/baseDstu2</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                {{if .Success}}
                    <div class="success">{{.Message}}</div>
                {{else}}
                <form method="POST">
                    {{if not .Success}}
                    <div class="error">{{.Message}}</div>
                    {{ end}}
                    <div>
                        <label for="resourceType">Resource type:</label>
                        <input type="text" id="resourceType" name="resourceType">
                    </div>
                    <div>
                        <label for="valueSetCodeURL">ValueSet code:</label>
                        <input type="text" id="valueSetCodeURL" name="valueSetCodeURL">
                    </div>
                    <div>
                        <label for="version">ValueSet version:</label>
                        <input type="text" id="version" name="version">
                    </div>
                    <div>
                        <label for="valueSetName">ValueSet name:</label>
                        <input type="text" id="valueSetName" name="valueSetName">
                    </div>
                    <div>
                        <label for="status">Status:</label>
                        <input type="text" id="status" name="status">
                    </div>
                    <div>
                        <label for="publisher">Publisher:</label>
                        <input type="text" id="publisher" name="publisher">
                    </div>
                    <div>
                        <label for="contact">Contact name:</label>
                        <input type="text" id="contact" name="contact">
                    </div>
                    <div>
                        <label for="description">Description:</label>
                        <textarea id="description" name="description"></textarea>
                    </div>
                    <div>
                        <label for="requirements">Requirements:</label>
                        <textarea id="requirements" name="requirements"></textarea>
                    </div>
                    <div>
                        <label for="copyright">Copyright:</label>
                        <input type="text" id="copyright" name="copyright">
                    </div>
                </form>
                <div class="button">
                    <input type="file" class="inputfile" id="dataFile">
                    <button type="submit" class="btn btn-primary ladda-button">Send</button>
                </div>
                {{end}}
            </div>
        </div>
    </body>
    </html>